In [2]:
!pip install nfl_data_py

Collecting nfl_data_py
  Downloading nfl_data_py-0.2.7-py3-none-any.whl (10 kB)
Collecting pandas>=1.3.5
  Downloading pandas-1.3.5-cp37-cp37m-macosx_10_9_x86_64.whl (11.0 MB)
     |████████████████████████████████| 11.0 MB 2.7 MB/s eta 0:00:01    |██████████▌                     | 3.6 MB 2.7 MB/s eta 0:00:03
Collecting fastparquet>=0.8.1
  Downloading fastparquet-0.8.1-cp37-cp37m-macosx_10_9_x86_64.whl (603 kB)
     |████████████████████████████████| 603 kB 34.6 MB/s eta 0:00:01
Requirement already satisfied: appdirs>=1.4.4 in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from nfl_data_py) (1.4.4)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.5.0-cp37-cp37m-macosx_10_7_x86_64.whl (1.4 MB)
     |████████████████████████████████| 1.4 MB 24.4 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.18 in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from fastparquet>=0.8.1->nfl_data_py) (1.20.3)
Requirement already satisfied: fsspec in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from fastparquet>=0.8.1->nfl_data_py) (2021.8.1)
Requirement already satisfied: pytz>=2017.3 in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas>=1.3.5->nfl_data_py) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from pandas>=1.3.5->nfl_data_py) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/rutvikkulkarni/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=1.3.5->nfl_data_py) (1.16.0)
Installing collected packages: pandas, cramjam, fastparquet, nfl-data-py
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.4
    Uninstalling pandas-1.3.4:
      Successfully uninstalled pandas-1.3.4
Successfully installed cramjam-2.5.0 fastparquet-0.8.1 nfl-data-py-0.2.7 pandas-1.3.5

In [4]:

import csv
import nfl_data_py as nfl
import pandas as pd

# Loading the file in 

file_path = ("clean_nfl_data.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)

df = df[["play_id" , "home_team" , "away_team" , "posteam" , "play_type" , "down" , "ydstogo" ,"rushing_yards" , "rush_attempt" , "rush_touchdown",
            "pass_attempt" , "complete_pass" , "passing_yards" , "pass_touchdown" , "touchdown"]]
df.head()

,play_id,home_team,away_team,posteam,play_type,down,ydstogo,rushing_yards,rush_attempt,rush_touchdown,pass_attempt,complete_pass,passing_yards,pass_touchdown,touchdown
0,55,TEN,ARI,TEN,run,1.0,10,-3.0,1,0,0,0,NaN,0,0
1,76,TEN,ARI,TEN,pass,2.0,13,NaN,0,0,1,1,3.0,0,0
2,100,TEN,ARI,TEN,pass,3.0,10,NaN,0,0,1,0,NaN,0,0
3,152,TEN,ARI,ARI,pass,1.0,10,NaN,0,0,1,1,38.0,0,0
4,181,TEN,ARI,ARI,run,1.0,10,2.0,1,0,0,0,NaN,0,0

In [6]:
# Loading the file in 

file_path = ("clean_nfl_data.csv")
df = pd.read_csv(file_path)
df = pd.DataFrame(df)

df = df[["play_id" , "home_team" , "away_team" , "posteam" , "play_type" , "down" , "ydstogo" ,"rushing_yards" , "rush_attempt" , "rush_touchdown",
            "pass_attempt" , "complete_pass" , "passing_yards" , "pass_touchdown" , "touchdown"]]
df.head()

,play_id,home_team,away_team,posteam,play_type,down,ydstogo,rushing_yards,rush_attempt,rush_touchdown,pass_attempt,complete_pass,passing_yards,pass_touchdown,touchdown
0,55,TEN,ARI,TEN,run,1.0,10,-3.0,1,0,0,0,NaN,0,0
1,76,TEN,ARI,TEN,pass,2.0,13,NaN,0,0,1,1,3.0,0,0
2,100,TEN,ARI,TEN,pass,3.0,10,NaN,0,0,1,0,NaN,0,0
3,152,TEN,ARI,ARI,pass,1.0,10,NaN,0,0,1,1,38.0,0,0
4,181,TEN,ARI,ARI,run,1.0,10,2.0,1,0,0,0,NaN,0,0

In [12]:
df[['play_type','down']].value_counts

<bound method DataFrame.value_counts of       play_type  down
0           run   1.0
1          pass   2.0
2          pass   3.0
3          pass   1.0
4           run   1.0
...         ...   ...
35761      pass   1.0
35762      pass   1.0
35763      pass   2.0
35764       run   3.0
35765      pass   4.0

[35766 rows x 2 columns]>